/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #E9F2F9;
  font: 18px Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

h1, h2, h3 {font-family: Avenir, Helvetica, Helvetica Neue, Arial, sans-serif; color:#594F4F}
p, li {font-family: Avenir, Helvetica, Helvetica Neue, Arial, sans-serif; color:#594F4F}

h1 {margin: 0 0 24px 0; padding: 0; font-size:32px; font-weight:bold;}
h2 {margin: 24px 0 12px 0; padding: 0; font-size:26px; font-weight:bold;}
h3 {margin: 24px 0 12px 0; padding: 0; font-size:22px; font-weight:bold;}

/*
h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }
h1 { margin-bottom: 1em; }
*/
p { margin: 1em 0; }

a         { color: #6FB7E9; text-decoration:none }
a:hover   { color: #000; text-decoration:none} 
/*a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/*Default styling here*/

.site {
  font-size: 100%;
  text-align: left;
  width: 80%;
  margin: 1em auto 1em;
  line-height: 1.5em;
}

.footer {
  font-size: 90%;
  color: #666;
  border-top: 1px solid #eee;
  margin-top: 1em;
  margin-bottom: 1em; 
/*  overflow: hidden; */
}

.header {
    margin-bottom: 1em;
}

.header a {
  margin-right: 1em;
  text-decoration: none;
}

.header a.extra {
  color: #aaa;
}

.header a.extra:hover {
  color: #000;
}

.footer .contact a {
  color: #8085C1;
}

.footer .contact a:hover { 
  color: #000; 
  text-decoration:none
} 

.footer .contact {
    margin: -12px 0 0 0;
}


.footer .links-left {
    margin: -36px 0 0 0;
}

.footer .links-right {
    margin: -36px 0 0 0;
  }

.footer a {
    display: inline-block;
    padding-left: 33px;
    /*width: 24px;*/
    /*height: 24px;*/
    margin-bottom: 10px;

    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.footer a.aboutme { background: url(../img/social-icons/aboutme.png) left top no-repeat; }
.footer a.instagram { background: url(../img/social-icons/instagram.png) left top no-repeat; }
.footer a.location { background: url(../img/social-icons/location.png) left top no-repeat; }
.footer a.twitter { background: url(../img/social-icons/twitter.png) left top no-repeat; }
.footer a.dribbble { background: url(../img/social-icons/dribbble.png) left top no-repeat; }
.footer a.rss { background: url(../img/social-icons/rss.png) left top no-repeat; }
.footer a.pinterest { background: url(../img/social-icons/pinterest.png) left top no-repeat; }
.footer a.digg { background: url(../img/social-icons/digg.png) left top no-repeat; }
.footer a.flickr { background: url(../img/social-icons/flickr.png) left top no-repeat; }
.footer a.forrst { background: url(../img/social-icons/forrst.png) left top no-repeat; }
.footer a.vimeo { background: url(../img/social-icons/vimeo.png) left top no-repeat; }
.footer a.reddit { background: url(../img/social-icons/reddit.png) left top no-repeat; }
.footer a.linkedin { background: url(../img/social-icons/linkedin-alt.png) left top no-repeat; }
.footer a.facebook { background: url(../img/social-icons/facebook.png) left top no-repeat; }
.footer a.paypal { background: url(../img/social-icons/paypal.png) left top no-repeat; }
.footer a.stumbleupon { background: url(../img/social-icons/stumbleupon.png) left top no-repeat; }
.footer a.email { background: url(../img/social-icons/email.png) left top no-repeat; }
.footer a.deviantart { background: url(../img/social-icons/deviantart.png) left top no-repeat; }
.footer a.netvibes { background: url(../img/social-icons/netvibes.png) left top no-repeat; }
.footer a.yahoo { background: url(../img/social-icons/yahoo.png) left top no-repeat; }
.footer a.github { background: url(../img/social-icons/github-alt.png) left top no-repeat; }
.footer a.addthis { background: url(../img/social-icons/addthis.png) left top no-repeat; }
.footer a.behance { background: url(../img/social-icons/behance.png) left top no-repeat; }
.footer a.blogger { background: url(../img/social-icons/blogger.png) left top no-repeat; }
.footer a.slashdot { background: url(../img/social-icons/slashdot.png) left top no-repeat; }
.footer a.technorati { background: url(../img/social-icons/technorati.png) left top no-repeat; }
.footer a.googleplus { background: url(../img/social-icons/googleplus.png) left top no-repeat; }
.footer a.apple { background: url(../img/social-icons/apple.png) left top no-repeat; }
.footer a.myspace { background: url(../img/social-icons/myspace.png) left top no-repeat; }
.footer a.sharethis { background: url(../img/social-icons/sharethis.png) left top no-repeat; }
.footer a.yelp { background: url(../img/social-icons/yelp.png) left top no-repeat; }
.footer a.delicious { background: url(../img/social-icons/delicious.png) left top no-repeat; }
.footer a.lastfm { background: url(../img/social-icons/lastfm.png) left top no-repeat; }
.footer a.youtube { background: url(../img/social-icons/youtube.png) left top no-repeat; }
.footer a.skype { background: url(../img/social-icons/skype.png) left top no-repeat; }
.footer a.tumblr { background: url(../img/social-icons/tumblr.png) left top no-repeat; }
.footer a.aim { background: url(../img/social-icons/aim.png) left top no-repeat; }
.footer a.google { background: url(../img/social-icons/google.png) left top no-repeat; }
 
.footer a:hover { background-position: left -34px; }

/*Small screens*/
/*@media only screen and (max-width: 480px) {

  .site {
    width: 80%;
    margin:  2em auto 2em;
  }


}*/

/*Little larger screen*/
@media only screen and (min-width: 480px) {

  .site {
    width: 400px;
    margin:  1em auto 1em;
  }

  .header {
    margin-bottom: 1em;
  }

}

/*Pads and larger phones*/
@media only screen and (min-width: 600px) {

  .site {
    width: 480px;
    margin:  2em auto 2em;
    line-height: 1.5em;
  }

  .header {
    margin-bottom: 2em;
  }

  .footer .contact { /*left column */
    float: left;
    width: 480px;
    margin: 0 0 0 0;
  }

  .footer .links {
    float: right;
    width: 480px;
  }

  .footer .links-left {
    margin: 0 0 0 0;
    float: left;
    width: 240px;
  }

  .footer .links-right {
    margin: 0 0 0 0;
    float: right;
    width: 240px;
  }

}

/*Larger pads*/
@media only screen and (min-width: 768px) {

  .site {
    width: 585px;
    margin:  2em auto 2em;
  }

  .footer .contact { /*left column */
    float: left;
    width: 195px;
  }

  .footer .links {
    float: right;
    width: 390px;
  }

  .footer .links-left {
    float: left;
    width: 195px;
  }

  .footer .links-right {
    float: right;
    width: 195px;
  }


}

/*Horizontal pads and laptops*/
@media only screen and (min-width: 992px) {
  .site {
    width: 660px;
    margin:  2em auto 2em;
    line-height: 1.5em;
  }

  .footer .contact { /*left column */
    float: left;
    width: 220px;
  }

  .footer .links {
    float: right;
    width: 440px;
  }

  .footer .links-left {
    float: left;
    width: 220px;
  }

  .footer .links-right {
    float: right;
    width: 220px;
  }

}

/*Really large screens*/
@media only screen and (min-width: 1382px) {

  .site {
    width: 810px;
    margin:  3em auto 3em;
    line-height: 1.5em;
  }

  .footer .contact { /*left column */
    float: left;
    width: 270px;
  }

  .footer .links {
    float: right;
    width: 540px;
  }

  .footer .links-left {
    float: left;
    width: 270px;
  }

  .footer .links-right {
    float: right;
    width: 270px;
  }

}

/*2X size (iPhone 4 etc)*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
       only screen and (-o-min-device-pixel-ratio: 3/2), 
       only screen and (min-device-pixel-ratio: 1.5) {

  .site {
    margin:  1em auto 1em;
    line-height: 1.5em;
    width: 80%;
  }

  h1 {margin: 0 0 24px 0; padding: 0; font-size:25px; font-weight:bold;}
  h2 {margin: 24px 0 12px 0; padding: 0; font-size:22px; font-weight:bold;}
  h3 {margin: 24px 0 12px 0; padding: 0; font-size:20px; font-weight:bold;}

}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.meta {
  color: #aaa;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
