/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #E9F2F9;
  font: 18px Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

h1, h2, h3 {font-family: Avenir, Helvetica, Helvetica Neue, Arial, sans-serif; color:#594F4F}
p, li {font-family: Avenir, Helvetica, Helvetica Neue, Arial, sans-serif; color:#594F4F}

h1 {margin: 0 0 24px 0; padding: 0; font-size:32px; font-weight:bold;}
h2 {margin: 24px 0 12px 0; padding: 0; font-size:26px; font-weight:bold;}
h3 {margin: 24px 0 12px 0; padding: 0; font-size:22px; font-weight:bold;}

p { margin: 1em 0; }

a         { color: #6FB7E9; text-decoration:none }
a:hover   { color: #000; text-decoration:none}
/*a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
}

.posts a {
  font-size:26px;
  font-weight:bold;
}

.posts li {
  line-height: 1.5em;
  border-bottom: 1px solid #6FB7E9;
}

.posts span {
  color: #aaa;
/*  font-family: Monaco, "Courier New", monospace; */
  margin-right: 3em;
}

/*****************************************************************************/
/*
/* Instagram
/*
/*****************************************************************************/

#instafeed {
    overflow: hidden;
    zoom: 1;
    max-width: 100%;
}

#instafeed a {
    float: left
    width:100%;
}

#instafeed img {
    width: 25%;
    max-width: 25%
}

@media screen and (max-width:768px) {
    #instafeed img {
        width: 50%;
        max-width: 50%
  }
}


.ig-b- { display: inline-block; }

.ig-b- img { visibility: hidden; }

.ig-b-:hover { background-position: 0 -60px; }

.ig-b-:active { background-position: 0 -120px; }

.ig-b-16 {
  width: 16px;
  height: 16px;
  background: url(//badges.instagram.com/static/images/ig-badge-sprite-16.png) no-repeat 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .ig-b-16 {
    background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-16@2x.png);
    background-size: 60px 178px;
  }
}

/*.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; }
.ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 {
  width: 137px;
  height: 24px;
  background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .ig-b-v-24 {
    background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png);
    background-size: 160px 178px;
  }
}*/

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/*Default styling here*/

.site {
  font-size: 100%;
  text-align: left;
  line-height: 1.5em;
  margin:  1em auto 1em;
  width: 90%;
  text-rendering:optimizeLegibility;

  -webkit-font-smoothing: antialiased;
}

.footer {
  font-size: 90%;
  color: #666;
  /*border-top: 1px solid #8085C1;*/
  margin-top: 1em;
  width: 100%;
  text-align: center;
}

.header {
  margin-bottom: 1em;
}

.header a {
  margin-right: 1em;
  text-decoration: none;
}

.header a.extra {
  color: #aaa;
}

.header a.extra:hover {
  color: #000;
}

.footer-menu {
    margin-bottom: 1em;
    text-align: center;
}

.footer-menu a {
    margin-right: 1em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .contact a:hover {
  color: #000;
  text-decoration:none
}

.footer .contact {
    margin: -12px 0 0 0;
}


.footer .links-left {
    margin: -36px 0 0 0;
}

.footer .links-right {
    margin: -36px 0 0 0;
  }

.footer a {
    display: inline-block;
/*    padding-left: 33px; */
    width: 34px;
    height: 26px;
    margin-top:  1em;
    margin-bottom: 10px;

    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.footer a.rss { background: url(../img/social-icons/rss.png) left top no-repeat;}
.footer a.aboutme { background: url(../img/social-icons/aboutme.png) left top no-repeat; }
.footer a.apple { background: url(../img/social-icons/apple.png) left top no-repeat; }
.footer a.email { background: url(../img/social-icons/email.png) left top no-repeat; }
.footer a.github { background: url(../img/social-icons/github-alt.png) left top no-repeat; }
.footer a.instagram { background: url(../img/social-icons/instagram.png) left top no-repeat; }
.footer a.location { background: url(../img/social-icons/location.png) left top no-repeat; }
.footer a.linkedin { background: url(../img/social-icons/linkedin-alt.png) left top no-repeat; }
.footer a.pinterest { background: url(../img/social-icons/pinterest.png) left top no-repeat; }
.footer a.twitter { background: url(../img/social-icons/twitter.png) left top no-repeat; }

.footer a:hover { background-position: left -34px; }

/*Small screens*/
/*@media only screen and (max-width: 480px) {

  .site {
    width: 80%;
    margin:  2em auto 2em;
  }


}*/

/*Little larger screen*/
@media only screen and (min-width: 480px) {

  .site {
    width: 400px;
    margin:  1em auto 1em;
    line-height: 1.5em;
  }

}

/*Pads and larger phones*/
@media only screen and (min-width: 600px) {

  .site {
    width: 480px;
    margin:  1em auto 1em;
    line-height: 1.5em;
  }

  .footer .contact { /*left column */
    float: left;
    width: 480px;
    margin: 0 0 0 0;
  }

  .footer .links {
    float: right;
    width: 480px;
  }

  .footer .links-left {
    margin: 0 0 0 0;
    float: left;
    width: 240px;
  }

  .footer .links-right {
    margin: 0 0 0 0;
    float: right;
    width: 240px;
  }

}

/*Larger pads*/
@media only screen and (min-width: 768px) {

  .site {
    width: 585px;
    margin:  1em auto 1em;
    line-height: 1.5em;
  }

  .footer .contact { /*left column */
    float: left;
    width: 195px;
  }

  .footer .links {
    float: right;
    width: 390px;
  }

  .footer .links-left {
    float: left;
    width: 195px;
  }

  .footer .links-right {
    float: right;
    width: 195px;
  }


}

/*Horizontal pads and laptops*/
@media only screen and (min-width: 992px) {
  .site {
    width: 700px;
    margin:  2em auto 2em;
    line-height: 1.5em;
  }

  .footer .contact { /*left column */
    float: left;
    width: 220px;
  }

  .footer .links {
    float: right;
    width: 440px;
  }

  .footer .links-left {
    float: left;
    width: 220px;
  }

  .footer .links-right {
    float: right;
    width: 220px;
  }

}

/*Really large screens*/
@media only screen and (min-width: 1382px) {

  .site {
    width: 900px;
    margin:  3em auto 3em;
    line-height: 1.5em;
  }

  .footer .contact { /*left column */
    float: left;
    width: 270px;
  }

  .footer .links {
    float: right;
    width: 540px;
  }

  .footer .links-left {
    float: left;
    width: 270px;
  }

  .footer .links-right {
    float: right;
    width: 270px;
  }

}

/*2X size (iPhone 4 etc)*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {

  .site {
    margin:  1em auto 1em;
    line-height: 1.5em;
    width: 90%;
  }

  h1 {margin: 0 0 24px 0; padding: 0; font-size:25px; font-weight:bold;}
  h2 {margin: 24px 0 12px 0; padding: 0; font-size:22px; font-weight:bold;}
  h3 {margin: 24px 0 12px 0; padding: 0; font-size:20px; font-weight:bold;}

}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.meta {
  color: #aaa;
  font-size: 80%;
  margin-bottom: 12px;
}

.meta span {
  margin-right: 3em;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
/*  padding: 0 .2em;
*/  font-size: 85%;
  line-height: 1em;

}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Apps
/*
/*****************************************************************************/

ul.apps {
  margin: 1em 0 1em 0;
  width: 100%;

}

  ul.apps:before, ul.apps:after {
    content: " ";
    display: table;
  }
  ul.apps:after {
    clear: both;
  }


  ul.apps li {
    border-radius: 20px;
    float: left;
    display: block;
    width: 25%;
    height: 120px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
    @media all and (max-width: 660px) {
      ul.apps li {
        width: 50%;
        }
      }

  ul.apps a {
    display: block;
    width: 100px;
    height: 120px;
    line-height: 0;
    margin: 0 auto;
  }
  ul.apps a span {
    display: block;
    width: 100px;
    height: 10px;
    font: 14px Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 1em;
    padding: 8px 0 0;
    color: #888;
  }
  ul.apps a:hover {
    border: 0;
  }
  ul.apps img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: -2;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  }

/* Ads
-------------------------------------------------- */

#fusionads {
  position: static;
  width: auto;
  height: 100px;
  margin-top:1em;
  padding: 1em;
  border: #ccc 1px solid;
  font-size: 14px;
  line-height: 1.3;
}

.fusion-img {
		float: left;
		margin-right: 1em;
    margin-bottom: .5em;
}

.fusion-text {
  padding-top:.5em;
  color: #999;
}
.fusion-text:hover {
  color: #2d692d;
  text-decoration: none;
}


.fusion-poweredby {
  display: block;
  margin-top: .5em;
}

@media (min-width: 1080px) {
  #fusionads {
    position: fixed;
    right: .5em;
    top: .5em;
    width: 140px;
    height:190px;
    margin: 0;
    margin-top:0;
    border:none;
    text-align: right;
  }
  .fusion-img {
    display: block;
    margin-right: 0;
    margin-left: .5em;
  }
}
