          <div class="footer">
            <div class="contact">
              <p>
                <a class="location" href="https://www.google.com/#q=gran+canaria">Eduardo Diaz Sancha</a><br />
                <a class="apple" {% if page.url == "/index.html" %}class="extra" {% endif %} href="/">Software Developer</a><br />
                <a class="email" href="mailto:edsancha@gmail.com">edsancha@gmail.com</a><br/>
                <br/>
              </p>
            </div>
            <div class="links">
            
              <div class="links-left">
                <p>
                   <a class="linkedin" href="http://www.linkedin.com/in/edsancha" target="_blank">linkedin/edsancha</a><br/>
                   <a class="github" href="http://github.com/edsancha" target="_blank">github.com/edsancha</a><br />
                   <a class="twitter" href="http://twitter.com/edsancha" target="_blank">twitter.com/edsancha</a><br />
                 <br/>
                </p>
              </div>
              <div class="links-right">
              <p>
                <a class="instagram" href="http://www.instagram.com/edsancha" target="_blank">instagram/edsancha</a><br />
                <a class="pinterest" href="http://www.pinterest.com/edsancha" target="_blank">pinterest/edsancha</a><br />
                <a class="aboutme" href="http://www.about.me/edsancha" target="_blank">about.me/edsancha</a><br />
                <br/>
              </p>
            </div>
            </div>
          </div>
        </div>

    </body>
</html>