
        <div class="footer">

          <a class="email" href="mailto:edsancha@gmail.com?subject=%5BWEB%5D%20Contact"></a>
          <a class="rss" href="../feed.xml"></a>
          <a class="linkedin" href="http://www.linkedin.com/in/edsancha" target="_blank"></a>
          <a class="github" href="http://github.com/edsancha" target="_blank"></a>
          <a class="twitter" href="http://twitter.com/edsancha" target="_blank"></a>
          <a class="instagram" href="http://www.instagram.com/edsancha" target="_blank"></a>

        </div>

      </div>
    </body> 
</html>
