
        <p style="text-align:center;margin:1.5em 0 1em">
          <a href="https://twitter.com/edsancha" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @edsancha</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </p>

        <div class="footer">

          <a class="email" href="mailto:edsancha@gmail.com?subject=%5BWEB%5D%20Contact"></a>
          <a class="rss" href="../feed.xml"></a>
          <a class="linkedin" href="http://www.linkedin.com/in/edsancha" target="_blank"></a>
          <a class="github" href="http://github.com/edsancha" target="_blank"></a>
          <a class="twitter" href="http://twitter.com/edsancha" target="_blank"></a>
          <a class="instagram" href="http://www.instagram.com/edsancha" target="_blank"></a>
          <a class="pinterest" href="http://www.pinterest.com/edsancha" target="_blank"></a>
          <!--<a class="aboutme" href="http://www.about.me/edsancha" target="_blank"></a>-->

        </div>

      </div>
    </body>
</html>
