<!DOCTYPE html>
    <html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=1, minimal-ui" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SCPXBKNSLQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SCPXBKNSLQ');
    </script>

</head>

<body>

    <div class="site">

            <div class="progressPanel">
                <span class="progress"></span>
            </div>

    <div class="header">
        <a {% if page.url == "/index.html" %}class="extra" href="/">Home {% else %} href="/"> Home {% endif %} </a>
        <a {% if page.url == "/work/index.html" %}class="extra" {% endif %} href="/work/">Work</a>
        <a {% if page.url == "/blog/index.html" or page.layout == 'post' %} class="extra" {% endif %} href="/blog/">Blog</a>
        <a {% if page.url == "/my-reading-list/index.html" or page.layout == 'post' %} class="extra" {% endif %} href="/my-reading-list/">Reading List</a>

    </div>

    <script>

        const progressPanel = document.querySelector('.progressPanel')
        const progressBar = document.querySelector('.progress')

        const handleProgressBar = (_) => {
            
            var docElem = document.documentElement;
            var docBody = document.body;
            var scrollTop = (docBody.scrollTop || docElem.scrollTop);
            var scrollTop = docElem.scrollTop;

            var height = docElem.scrollHeight - docElem.clientHeight;
        
            readPercent = scrollTop / height * 100;
            progressBar.style.transform = `translate3d(${ readPercent - 100 }%, 0, 0)`

        }

        const loop = () => {
            handleProgressBar(document.querySelector('header'))
            window.requestAnimationFrame(loop)
        }

        loop()
    </script>   
