---
layout: default
title: Eduardo Diaz Sancha - Blog
---

<div id="home">
  <h1>Blog</h1>

  <ul class="posts">
    {% for post in paginator.posts %}
      <li>
        <!-- &raquo;  -->

        <p class="meta">
          <span>{{ post.date | date_to_string }}</span> 
          <span>{{post.timeToRead}}</span>
        </p>

        <p><a href="{{ post.url }}">{{ post.title }}</a></p>

        <p> {{ post.description}} </p>
      </li>
    {% endfor %}
  </ul>

   <!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="nav.pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&larr; Previous</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <a>{{ page }}</a>
    {% elsif page == 1 %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', '' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &rarr;</a>
  {% else %}
    <span>Next &rarr;</span>
  {% endif %}
</div>
{% endif %}

</div>

