<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Message from JackThreads</string>
	<key>Message</key>
	<string>Our iPhone and iPad apps have been combined into a universal app. This version will be discontinued in the future. Please download the new app pressing the download button.</string>
	<key>Active</key>
	<false/>
	<key>URL</key>
	<string>https://itunes.apple.com/us/app/jackthreads-for-ipad/id640570922?mt=8&amp;uo=4</string>
</dict>
</plist>
